body {
    font-family: Arial, sans-serif;
    margin:0;
    padding: 0;
  }
  
  /* PRIMEIRA PÁGINA (HEADER) */
  header {
    background-color: #eadfb7ea;
    height: 100vh;                
    display: flex;
    flex-direction: column;
    justify-content: center;      
    align-items: center;          
    text-align: center;
  }

  /*TITULO*/
  header h1 {
    font-size: 150px;
    margin: 0;
    color:#2c3e50;
  }

/*CITAÇÃO*/
  header p {
    font-size: 32px;
    margin-top: 20px;
    color: #2c3e50;
  }

  /*PRODUTOS*/
  #produtos {
    display: flex;           /* ativa o flexbox */
    flex-wrap: wrap;         /* permite que os produtos “quebrem” para a linha seguinte */
    gap: 20px;               /* espaço entre os produtos */
    justify-content: center; /* centraliza os produtos na página */
    padding: 40px;
  }
  /*CADA PRODUTO*/
  .produto{
    border:1px solid #ccc;
    padding: 20px;
    background-color: white;
    width: 30%; /*alinha tudo à esquerda*/
    box-sizing: border-box;  /* garante que padding e border não aumentem a largura */
  }
  /*IMAGENS DENTRO DOS PRODUTOS*/
  .produto img {
    max-width: 100%;
    height: auto; 
  }
  /*PREÇO*/
  .preço{
    font-weight: bold;
    color: green;
  }
