body {
    font-family: Arial, sans-serif;
    background-color: #fbedb2;
    text-align: center;
    padding: 150px;
  }
  
  h1 {
    font-size: 120px;
    color: #2c3e50;
  }

  p {
    font-size:36
  }