body {
    font-family: Arial, sans-serif;
    margin:0;
    padding: 0;
}
header{
    background-color: #eadfb7ea;
    text-align: center;
    padding: 150px;
  }
  
  h1 {
    font-size: 120px;
    color: #2c3e50;
  }

  p {
    font-size:36
  }

  #produto{
    border:1px solid £ccc;
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;
  }
  .produto img {
    max-width:100%;
    height: auto;
  }
  .preço{
    font-weight: bold;
    color: green;
  }